@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
    scroll-behavior: smooth;
}
.totop{
    width: 50px;
    position: fixed;
    right: 20px;
    top: 90vh;
    z-index: 1999999999999999998;
}
body{
    margin: 0;
    padding-top: 10px;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7fb;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1999999999999999999;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height:75px;
    border: 15px solid #dddddd;
    border-top-color: #7449a7;
    border-radius: 50px;
    animation: spin 0.75s ease infinite;
}
@keyframes spin {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    position: relative;
    left: -150px;
    top: 9px;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    position: fixed;
    overflow: hidden;
    top: 0;
    padding-top: 10px;
    z-index: 100000000;
    background: #fff;
    height: 80px;
}
nav img{
    height: 60px;
}
nav a{
    text-decoration: none;

}
.home{
    color: white;
    background-color: #009966;
    padding: 7px;
    border: 1px #009966 solid;
    border-radius: 5px;
}
.links{
    color: black;
    border: 1px white solid;
    padding: 10px;
    border-radius: 10px;
}
.links:hover{
    border-color: #009966;
    color: #009966;
    transition: 1s;
}
.home:hover{
    color: #009966;
    background-color: #fff;
    transition: 1s;
}
.banner{
    background: url(../imgs-about/About-UsDesktopheader.jpg);
    position: relative;
    height: 13vh;
    top: 80px;
    align-items: center;
}
.pann-home{
    color: black;
    display: inline;
    margin-left: 5%;
    position: relative;
    top: 35px;
    font-weight: 500;
}
.pann-about{
    color: white;
    display: inline;
    position: relative;
    top: 35px;
    font-weight: 500;
}
.Services{
    text-align: center;
    position: relative;
    width: 90%;
    left: 5%;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 1px;
    padding-bottom: 30px;
    top: 15vh;
}
.Services h1{
    color: #009966;
    font-size: 80px;
    font-weight: 300;
}
.Services h4{
    color: rgb(74, 74, 74);
    font-weight: 600;
    font-size: 20px;

}
.cont-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(1, 1fr);   
    gap: 10px;
    row-gap: 50px;
    position: relative;
    width: 100%;
}
.cards{
    position: relative;
    width: 100%;
}
.cards img{
    width: 120px;
}
.cards button{
    color: #009966;
    background-color: #fff;
    border: 2px #009966 solid;
    border-radius: 15px;
    padding: 10px;
}
.cards button:hover{
    color: black;
    border-color: black;
    transition: 1s;
}
.feature{
    text-align: center;
    width: 90%;
    left: 5%;
    position: relative;
    top: 15vh;
}
.feature>h1{
    color: #009966;
    font-size: 70px;
    font-weight: 300;
}
.feature>p{
    position: relative;
    top: -40px;
}
.peices-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(1, 1fr); 
    gap: 10px;
}
.peices{
    width: 90%;
    border: 2px #009966 solid;
    border-radius: 10px;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.233);
}
.peices>img{
    width: 100%;
    border-radius: 10px;
}
.list{
    position: relative;
    top: 20vh;
    text-align: center;
    width: 90%;
    left: 5%;
}
.list>h1{
    color: #009966;
    font-size: 70px;
    font-weight: 300;
}
.list>p{
    position: relative;
    top: -40px;
}
.conti{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    position: relative;
    top: -20px;
}
.prt{
    border: 2px #009966 solid;
    border-radius: 10px;
    width: 100%;
    padding: 3px;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.233);
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(12, 6, 31);
    color: white;
    text-align: center;
    padding-top:50px ;
    position: relative;
    top: 20vh;
}